/* Color Theme Swatches in Hex */
.Lego®-Art-—-Website-Design-1-hex { color: #162026; }
.Lego®-Art-—-Website-Design-2-hex { color: #F2E307; }
.Lego®-Art-—-Website-Design-3-hex { color: #F2B90C; }
.Lego®-Art-—-Website-Design-4-hex { color: #F20505; }
.Lego®-Art-—-Website-Design-5-hex { color: #8C0303; }

/* Color Theme Swatches in RGBA */
.Lego®-Art-—-Website-Design-1-rgba { color: rgba(22, 32, 38, 1); }
.Lego®-Art-—-Website-Design-2-rgba { color: rgba(242, 226, 7, 1); }
.Lego®-Art-—-Website-Design-3-rgba { color: rgba(242, 184, 12, 1); }
.Lego®-Art-—-Website-Design-4-rgba { color: rgba(242, 4, 4, 1); }
.Lego®-Art-—-Website-Design-5-rgba { color: rgba(140, 2, 2, 1); }

/* Color Theme Swatches in HSLA */
.Lego®-Art-—-Website-Design-1-hsla { color: hsla(202, 26, 11, 1); }
.Lego®-Art-—-Website-Design-2-hsla { color: hsla(56, 94, 48, 1); }
.Lego®-Art-—-Website-Design-3-hsla { color: hsla(45, 90, 49, 1); }
.Lego®-Art-—-Website-Design-4-hsla { color: hsla(0, 96, 48, 1); }
.Lego®-Art-—-Website-Design-5-hsla { color: hsla(0, 96, 28, 1); }

/* Color Theme Swatches in Hex */
.lego-1-hex { color: #163CBB; }
.lego-2-hex { color: #EA1B29; }
.lego-3-hex { color: #FFFFEE; }
.lego-4-hex { color: #FCE305; }
.lego-5-hex { color: #047A3E; }

/* Color Theme Swatches in RGBA */
.lego-1-rgba { color: rgba(21, 59, 186, 1); }
.lego-2-rgba { color: rgba(233, 26, 40, 1); }
.lego-3-rgba { color: rgba(255, 255, 237, 1); }
.lego-4-rgba { color: rgba(251, 226, 4, 1); }
.lego-5-rgba { color: rgba(4, 121, 61, 1); }

/* Color Theme Swatches in HSLA */
.lego-1-hsla { color: hsla(226, 78, 40, 1); }
.lego-2-hsla { color: hsla(355, 83, 51, 1); }
.lego-3-hsla { color: hsla(60, 100, 96, 1); }
.lego-4-hsla { color: hsla(53, 97, 50, 1); }
.lego-5-hsla { color: hsla(149, 93, 24, 1); }


/* Color Theme Swatches in Hex */
.Lego-colours-1-hex { color: #021F59; }
.Lego-colours-2-hex { color: #025920; }
.Lego-colours-3-hex { color: #D98A29; }
.Lego-colours-4-hex { color: #D95323; }
.Lego-colours-5-hex { color: #730202; }

/* Color Theme Swatches in RGBA */
.Lego-colours-1-rgba { color: rgba(2, 31, 89, 1); }
.Lego-colours-2-rgba { color: rgba(2, 89, 31, 1); }
.Lego-colours-3-rgba { color: rgba(216, 137, 40, 1); }
.Lego-colours-4-rgba { color: rgba(216, 82, 35, 1); }
.Lego-colours-5-rgba { color: rgba(114, 2, 2, 1); }

/* Color Theme Swatches in HSLA */
.Lego-colours-1-hsla { color: hsla(219, 95, 17, 1); }
.Lego-colours-2-hsla { color: hsla(140, 95, 17, 1); }
.Lego-colours-3-hsla { color: hsla(33, 69, 50, 1); }
.Lego-colours-4-hsla { color: hsla(15, 72, 49, 1); }
.Lego-colours-5-hsla { color: hsla(0, 96, 22, 1); }


/* Color Theme Swatches in Hex */
.LEGO-STAR-WARS-1-hex { color: #F22738; }
.LEGO-STAR-WARS-2-hex { color: #8C2B34; }
.LEGO-STAR-WARS-3-hex { color: #D98841; }
.LEGO-STAR-WARS-4-hex { color: #8C3718; }
.LEGO-STAR-WARS-5-hex { color: #262626; }

/* Color Theme Swatches in RGBA */
.LEGO-STAR-WARS-1-rgba { color: rgba(242, 38, 55, 1); }
.LEGO-STAR-WARS-2-rgba { color: rgba(140, 43, 51, 1); }
.LEGO-STAR-WARS-3-rgba { color: rgba(216, 135, 65, 1); }
.LEGO-STAR-WARS-4-rgba { color: rgba(140, 54, 23, 1); }
.LEGO-STAR-WARS-5-rgba { color: rgba(38, 38, 38, 1); }

/* Color Theme Swatches in HSLA */
.LEGO-STAR-WARS-1-hsla { color: hsla(354, 88, 55, 1); }
.LEGO-STAR-WARS-2-hsla { color: hsla(354, 52, 36, 1); }
.LEGO-STAR-WARS-3-hsla { color: hsla(28, 66, 55, 1); }
.LEGO-STAR-WARS-4-hsla { color: hsla(16, 70, 32, 1); }
.LEGO-STAR-WARS-5-hsla { color: hsla(0, 0, 15, 1); }





/* Color Theme Swatches in Hex */
.Lego-Harry-Potter-years-5-7-Campaign-1-hex { color: #0433BF; }
.Lego-Harry-Potter-years-5-7-Campaign-2-hex { color: #032CA6; }
.Lego-Harry-Potter-years-5-7-Campaign-3-hex { color: #123273; }
.Lego-Harry-Potter-years-5-7-Campaign-4-hex { color: #593202; }
.Lego-Harry-Potter-years-5-7-Campaign-5-hex { color: #BF4C0A; }

/* Color Theme Swatches in RGBA */
.Lego-Harry-Potter-years-5-7-Campaign-1-rgba { color: rgba(3, 50, 191, 1); }
.Lego-Harry-Potter-years-5-7-Campaign-2-rgba { color: rgba(3, 43, 165, 1); }
.Lego-Harry-Potter-years-5-7-Campaign-3-rgba { color: rgba(18, 50, 114, 1); }
.Lego-Harry-Potter-years-5-7-Campaign-4-rgba { color: rgba(89, 49, 1, 1); }
.Lego-Harry-Potter-years-5-7-Campaign-5-rgba { color: rgba(191, 76, 9, 1); }

/* Color Theme Swatches in HSLA */
.Lego-Harry-Potter-years-5-7-Campaign-1-hsla { color: hsla(225, 96, 38, 1); }
.Lego-Harry-Potter-years-5-7-Campaign-2-hsla { color: hsla(225, 96, 33, 1); }
.Lego-Harry-Potter-years-5-7-Campaign-3-hsla { color: hsla(219, 72, 26, 1); }
.Lego-Harry-Potter-years-5-7-Campaign-4-hsla { color: hsla(33, 96, 17, 1); }
.Lego-Harry-Potter-years-5-7-Campaign-5-hsla { color: hsla(22, 90, 39, 1); }


/* Color Theme Swatches in Hex */
.Wilderness-1-hex { color: #34401A; }
.Wilderness-2-hex { color: #64732F; }
.Wilderness-3-hex { color: #CAD959; }
.Wilderness-4-hex { color: #B4BF5E; }
.Wilderness-5-hex { color: #252617; }

/* Color Theme Swatches in RGBA */
.Wilderness-1-rgba { color: rgba(51, 63, 26, 1); }
.Wilderness-2-rgba { color: rgba(100, 114, 47, 1); }
.Wilderness-3-rgba { color: rgba(201, 216, 88, 1); }
.Wilderness-4-rgba { color: rgba(179, 191, 93, 1); }
.Wilderness-5-rgba { color: rgba(36, 38, 23, 1); }

/* Color Theme Swatches in HSLA */
.Wilderness-1-hsla { color: hsla(78, 41, 17, 1); }
.Wilderness-2-hsla { color: hsla(73, 41, 31, 1); }
.Wilderness-3-hsla { color: hsla(67, 62, 59, 1); }
.Wilderness-4-hsla { color: hsla(67, 43, 55, 1); }
.Wilderness-5-hsla { color: hsla(67, 24, 12, 1); }


/* Color Theme Swatches in Hex */
.Fashion-1-hex { color: #D98299; }
.Fashion-2-hex { color: #D96CBC; }
.Fashion-3-hex { color: #778BA6; }
.Fashion-4-hex { color: #F2C36B; }
.Fashion-5-hex { color: #A6634B; }

/* Color Theme Swatches in RGBA */
.Fashion-1-rgba { color: rgba(216, 130, 153, 1); }
.Fashion-2-rgba { color: rgba(216, 108, 187, 1); }
.Fashion-3-rgba { color: rgba(119, 139, 165, 1); }
.Fashion-4-rgba { color: rgba(242, 194, 106, 1); }
.Fashion-5-rgba { color: rgba(165, 98, 74, 1); }

/* Color Theme Swatches in HSLA */
.Fashion-1-hsla { color: hsla(343, 53, 68, 1); }
.Fashion-2-hsla { color: hsla(315, 58, 63, 1); }
.Fashion-3-hsla { color: hsla(213, 20, 55, 1); }
.Fashion-4-hsla { color: hsla(39, 84, 68, 1); }
.Fashion-5-hsla { color: hsla(16, 37, 47, 1); }


/* Color Theme Swatches in Hex */
.Pastel-01-1-hex { color: #DEFF88; }
.Pastel-01-2-hex { color: #FFD38C; }
.Pastel-01-3-hex { color: #FF96A3; }
.Pastel-01-4-hex { color: #A18CE8; }
.Pastel-01-5-hex { color: #9CFEFF; }

/* Color Theme Swatches in RGBA */
.Pastel-01-1-rgba { color: rgba(221, 255, 135, 1); }
.Pastel-01-2-rgba { color: rgba(255, 211, 140, 1); }
.Pastel-01-3-rgba { color: rgba(255, 149, 163, 1); }
.Pastel-01-4-rgba { color: rgba(161, 140, 232, 1); }
.Pastel-01-5-rgba { color: rgba(156, 253, 255, 1); }

/* Color Theme Swatches in HSLA */
.Pastel-01-1-hsla { color: hsla(76, 100, 76, 1); }
.Pastel-01-2-hsla { color: hsla(37, 100, 77, 1); }
.Pastel-01-3-hsla { color: hsla(352, 100, 79, 1); }
.Pastel-01-4-hsla { color: hsla(253, 66, 72, 1); }
.Pastel-01-5-hsla { color: hsla(180, 100, 80, 1); }


/* Color Theme Swatches in Hex */
.Pastel-Pretties-v2-1-hex { color: #3D80D9; }
.Pastel-Pretties-v2-2-hex { color: #038C3E; }
.Pastel-Pretties-v2-3-hex { color: #F29F05; }
.Pastel-Pretties-v2-4-hex { color: #F24405; }
.Pastel-Pretties-v2-5-hex { color: #F2A7A0; }

/* Color Theme Swatches in RGBA */
.Pastel-Pretties-v2-1-rgba { color: rgba(60, 128, 216, 1); }
.Pastel-Pretties-v2-2-rgba { color: rgba(2, 140, 62, 1); }
.Pastel-Pretties-v2-3-rgba { color: rgba(242, 159, 4, 1); }
.Pastel-Pretties-v2-4-rgba { color: rgba(242, 68, 4, 1); }
.Pastel-Pretties-v2-5-rgba { color: rgba(242, 166, 159, 1); }

/* Color Theme Swatches in HSLA */
.Pastel-Pretties-v2-1-hsla { color: hsla(213, 67, 54, 1); }
.Pastel-Pretties-v2-2-hsla { color: hsla(146, 96, 28, 1); }
.Pastel-Pretties-v2-3-hsla { color: hsla(39, 96, 48, 1); }
.Pastel-Pretties-v2-4-hsla { color: hsla(16, 96, 48, 1); }
.Pastel-Pretties-v2-5-hsla { color: hsla(5, 76, 78, 1); }


/* Color Theme Swatches in Hex */
.Kimõ-Wellness-Retreat-1-hex { color: #737272; }
.Kimõ-Wellness-Retreat-2-hex { color: #BF8F73; }
.Kimõ-Wellness-Retreat-3-hex { color: #8C4227; }
.Kimõ-Wellness-Retreat-4-hex { color: #260505; }
.Kimõ-Wellness-Retreat-5-hex { color: #D9C5C5; }

/* Color Theme Swatches in RGBA */
.Kimõ-Wellness-Retreat-1-rgba { color: rgba(114, 113, 114, 1); }
.Kimõ-Wellness-Retreat-2-rgba { color: rgba(191, 142, 114, 1); }
.Kimõ-Wellness-Retreat-3-rgba { color: rgba(140, 66, 39, 1); }
.Kimõ-Wellness-Retreat-4-rgba { color: rgba(38, 4, 4, 1); }
.Kimõ-Wellness-Retreat-5-rgba { color: rgba(216, 197, 197, 1); }

/* Color Theme Swatches in HSLA */
.Kimõ-Wellness-Retreat-1-hsla { color: hsla(326, 0, 44, 1); }
.Kimõ-Wellness-Retreat-2-hsla { color: hsla(22, 37, 60, 1); }
.Kimõ-Wellness-Retreat-3-hsla { color: hsla(16, 56, 35, 1); }
.Kimõ-Wellness-Retreat-4-hsla { color: hsla(0, 78, 8, 1); }
.Kimõ-Wellness-Retreat-5-hsla { color: hsla(0, 20, 81, 1); }


/* Color Theme Swatches in Hex */
.By-the-Lake-1-hex { color: #514F8C; }
.By-the-Lake-2-hex { color: #3350A6; }
.By-the-Lake-3-hex { color: #6A79A6; }
.By-the-Lake-4-hex { color: #7787A6; }
.By-the-Lake-5-hex { color: #BFBDB8; }

/* Color Theme Swatches in RGBA */
.By-the-Lake-1-rgba { color: rgba(80, 78, 140, 1); }
.By-the-Lake-2-rgba { color: rgba(51, 79, 165, 1); }
.By-the-Lake-3-rgba { color: rgba(106, 120, 165, 1); }
.By-the-Lake-4-rgba { color: rgba(119, 134, 165, 1); }
.By-the-Lake-5-rgba { color: rgba(191, 188, 183, 1); }

/* Color Theme Swatches in HSLA */
.By-the-Lake-1-hsla { color: hsla(241, 28, 42, 1); }
.By-the-Lake-2-hsla { color: hsla(225, 52, 42, 1); }
.By-the-Lake-3-hsla { color: hsla(225, 25, 53, 1); }
.By-the-Lake-4-hsla { color: hsla(219, 20, 55, 1); }
.By-the-Lake-5-hsla { color: hsla(39, 5, 73, 1); }


/* Color Theme Swatches in Hex */
.Digital-Illustration-Art-About-Animal-World-1-hex { color: #527320; }
.Digital-Illustration-Art-About-Animal-World-2-hex { color: #BF9411; }
.Digital-Illustration-Art-About-Animal-World-3-hex { color: #D9BC66; }
.Digital-Illustration-Art-About-Animal-World-4-hex { color: #73241D; }
.Digital-Illustration-Art-About-Animal-World-5-hex { color: #F20C0C; }

/* Color Theme Swatches in RGBA */
.Digital-Illustration-Art-About-Animal-World-1-rgba { color: rgba(81, 114, 32, 1); }
.Digital-Illustration-Art-About-Animal-World-2-rgba { color: rgba(191, 147, 17, 1); }
.Digital-Illustration-Art-About-Animal-World-3-rgba { color: rgba(216, 188, 101, 1); }
.Digital-Illustration-Art-About-Animal-World-4-rgba { color: rgba(114, 35, 28, 1); }
.Digital-Illustration-Art-About-Animal-World-5-rgba { color: rgba(242, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Digital-Illustration-Art-About-Animal-World-1-hsla { color: hsla(84, 56, 28, 1); }
.Digital-Illustration-Art-About-Animal-World-2-hsla { color: hsla(45, 83, 40, 1); }
.Digital-Illustration-Art-About-Animal-World-3-hsla { color: hsla(44, 60, 62, 1); }
.Digital-Illustration-Art-About-Animal-World-4-hsla { color: hsla(5, 60, 28, 1); }
.Digital-Illustration-Art-About-Animal-World-5-hsla { color: hsla(0, 90, 49, 1); }

/* Color Theme Swatches in Hex */
.Pastels-1-hex { color: #F8B195; }
.Pastels-2-hex { color: #F67280; }
.Pastels-3-hex { color: #C06C84; }
.Pastels-4-hex { color: #6C5B7B; }
.Pastels-5-hex { color: #355C7D; }

/* Color Theme Swatches in RGBA */
.Pastels-1-rgba { color: rgba(247, 177, 149, 1); }
.Pastels-2-rgba { color: rgba(246, 114, 128, 1); }
.Pastels-3-rgba { color: rgba(191, 107, 131, 1); }
.Pastels-4-rgba { color: rgba(107, 91, 123, 1); }
.Pastels-5-rgba { color: rgba(52, 91, 124, 1); }

/* Color Theme Swatches in HSLA */
.Pastels-1-hsla { color: hsla(16, 87, 77, 1); }
.Pastels-2-hsla { color: hsla(353, 88, 70, 1); }
.Pastels-3-hsla { color: hsla(342, 39, 58, 1); }
.Pastels-4-hsla { color: hsla(271, 14, 41, 1); }
.Pastels-5-hsla { color: hsla(207, 40, 34, 1); }


/* Color Theme Swatches in Hex */
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-1-hex { color: #8C8C8C; }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-2-hex { color: #595959; }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-3-hex { color: #404040; }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-4-hex { color: #262626; }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-1-rgba { color: rgba(140, 140, 140, 1); }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-2-rgba { color: rgba(89, 89, 89, 1); }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-3-rgba { color: rgba(63, 63, 63, 1); }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-4-rgba { color: rgba(38, 38, 38, 1); }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-1-hsla { color: hsla(0, 0, 55, 1); }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-2-hsla { color: hsla(0, 0, 35, 1); }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-3-hsla { color: hsla(0, 0, 25, 1); }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-4-hsla { color: hsla(0, 0, 15, 1); }
.Black-rock-background.-Dark-gray-stone-texture.-Black-grunge-background.-Mountain-close-up.-Distressed-backdrop.-5-hsla { color: hsla(0, 0, 5, 1); }


/* Color Theme Swatches in Hex */
.rocke-1-hex { color: #733456; }
.rocke-2-hex { color: #3B2559; }
.rocke-3-hex { color: #2A1A40; }
.rocke-4-hex { color: #A62D12; }
.rocke-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.rocke-1-rgba { color: rgba(114, 52, 86, 1); }
.rocke-2-rgba { color: rgba(59, 36, 89, 1); }
.rocke-3-rgba { color: rgba(42, 26, 63, 1); }
.rocke-4-rgba { color: rgba(165, 45, 17, 1); }
.rocke-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.rocke-1-hsla { color: hsla(327, 37, 32, 1); }
.rocke-2-hsla { color: hsla(265, 41, 24, 1); }
.rocke-3-hsla { color: hsla(265, 42, 17, 1); }
.rocke-4-hsla { color: hsla(10, 80, 36, 1); }
.rocke-5-hsla { color: hsla(0, 0, 94, 1); }


/* Color Theme Swatches in Hex */
.Kale-Ceramic---Unicera-Film-//-GROW-1-hex { color: #142615; }
.Kale-Ceramic---Unicera-Film-//-GROW-2-hex { color: #30592E; }
.Kale-Ceramic---Unicera-Film-//-GROW-3-hex { color: #224021; }
.Kale-Ceramic---Unicera-Film-//-GROW-4-hex { color: #44733D; }
.Kale-Ceramic---Unicera-Film-//-GROW-5-hex { color: #B9BFA4; }

/* Color Theme Swatches in RGBA */
.Kale-Ceramic---Unicera-Film-//-GROW-1-rgba { color: rgba(19, 38, 21, 1); }
.Kale-Ceramic---Unicera-Film-//-GROW-2-rgba { color: rgba(47, 89, 46, 1); }
.Kale-Ceramic---Unicera-Film-//-GROW-3-rgba { color: rgba(34, 63, 33, 1); }
.Kale-Ceramic---Unicera-Film-//-GROW-4-rgba { color: rgba(68, 114, 60, 1); }
.Kale-Ceramic---Unicera-Film-//-GROW-5-rgba { color: rgba(185, 191, 164, 1); }

/* Color Theme Swatches in HSLA */
.Kale-Ceramic---Unicera-Film-//-GROW-1-hsla { color: hsla(123, 31, 11, 1); }
.Kale-Ceramic---Unicera-Film-//-GROW-2-hsla { color: hsla(118, 31, 26, 1); }
.Kale-Ceramic---Unicera-Film-//-GROW-3-hsla { color: hsla(118, 31, 19, 1); }
.Kale-Ceramic---Unicera-Film-//-GROW-4-hsla { color: hsla(112, 30, 34, 1); }
.Kale-Ceramic---Unicera-Film-//-GROW-5-hsla { color: hsla(73, 17, 69, 1); }


/* Color Theme Swatches in Hex */
.Megascans-1-hex { color: #0B0B0D; }
.Megascans-2-hex { color: #202626; }
.Megascans-3-hex { color: #383F40; }
.Megascans-4-hex { color: #D9B282; }
.Megascans-5-hex { color: #8C5B3F; }

/* Color Theme Swatches in RGBA */
.Megascans-1-rgba { color: rgba(11, 11, 12, 1); }
.Megascans-2-rgba { color: rgba(31, 37, 38, 1); }
.Megascans-3-rgba { color: rgba(56, 62, 63, 1); }
.Megascans-4-rgba { color: rgba(216, 177, 130, 1); }
.Megascans-5-rgba { color: rgba(140, 91, 63, 1); }

/* Color Theme Swatches in HSLA */
.Megascans-1-hsla { color: hsla(236, 5, 4, 1); }
.Megascans-2-hsla { color: hsla(185, 9, 13, 1); }
.Megascans-3-hsla { color: hsla(185, 6, 23, 1); }
.Megascans-4-hsla { color: hsla(33, 53, 68, 1); }
.Megascans-5-hsla { color: hsla(22, 37, 39, 1); }


/* Color Theme Swatches in Hex */
.Classic-Rock-Calligraphy-Posters-Collection-1-hex { color: #F2E85C; }
.Classic-Rock-Calligraphy-Posters-Collection-2-hex { color: #F2EB8D; }
.Classic-Rock-Calligraphy-Posters-Collection-3-hex { color: #F2C063; }
.Classic-Rock-Calligraphy-Posters-Collection-4-hex { color: #262626; }
.Classic-Rock-Calligraphy-Posters-Collection-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Classic-Rock-Calligraphy-Posters-Collection-1-rgba { color: rgba(242, 232, 92, 1); }
.Classic-Rock-Calligraphy-Posters-Collection-2-rgba { color: rgba(242, 235, 140, 1); }
.Classic-Rock-Calligraphy-Posters-Collection-3-rgba { color: rgba(242, 192, 99, 1); }
.Classic-Rock-Calligraphy-Posters-Collection-4-rgba { color: rgba(38, 38, 38, 1); }
.Classic-Rock-Calligraphy-Posters-Collection-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Classic-Rock-Calligraphy-Posters-Collection-1-hsla { color: hsla(56, 85, 65, 1); }
.Classic-Rock-Calligraphy-Posters-Collection-2-hsla { color: hsla(56, 79, 75, 1); }
.Classic-Rock-Calligraphy-Posters-Collection-3-hsla { color: hsla(39, 84, 66, 1); }
.Classic-Rock-Calligraphy-Posters-Collection-4-hsla { color: hsla(0, 0, 15, 1); }
.Classic-Rock-Calligraphy-Posters-Collection-5-hsla { color: hsla(0, 0, 5, 1); }


/* Color Theme Swatches in Hex */
.Rock-the-World-1-hex { color: #02000D; }
.Rock-the-World-2-hex { color: #555459; }
.Rock-the-World-3-hex { color: #A4BFB0; }
.Rock-the-World-4-hex { color: #2F7310; }
.Rock-the-World-5-hex { color: #2C590C; }

/* Color Theme Swatches in RGBA */
.Rock-the-World-1-rgba { color: rgba(1, 0, 12, 1); }
.Rock-the-World-2-rgba { color: rgba(84, 84, 89, 1); }
.Rock-the-World-3-rgba { color: rgba(163, 191, 175, 1); }
.Rock-the-World-4-rgba { color: rgba(47, 114, 15, 1); }
.Rock-the-World-5-rgba { color: rgba(43, 89, 12, 1); }

/* Color Theme Swatches in HSLA */
.Rock-the-World-1-hsla { color: hsla(249, 100, 2, 1); }
.Rock-the-World-2-hsla { color: hsla(251, 2, 33, 1); }
.Rock-the-World-3-hsla { color: hsla(146, 17, 69, 1); }
.Rock-the-World-4-hsla { color: hsla(101, 75, 25, 1); }
.Rock-the-World-5-hsla { color: hsla(95, 76, 19, 1); }


/* Color Theme Swatches in Hex */
.Mozart-by-Magnum-1-hex { color: #590212; }
.Mozart-by-Magnum-2-hex { color: #8C0327; }
.Mozart-by-Magnum-3-hex { color: #025E73; }
.Mozart-by-Magnum-4-hex { color: #6BBFBF; }
.Mozart-by-Magnum-5-hex { color: #F2A285; }

/* Color Theme Swatches in RGBA */
.Mozart-by-Magnum-1-rgba { color: rgba(89, 1, 17, 1); }
.Mozart-by-Magnum-2-rgba { color: rgba(140, 2, 39, 1); }
.Mozart-by-Magnum-3-rgba { color: rgba(2, 94, 114, 1); }
.Mozart-by-Magnum-4-rgba { color: rgba(107, 191, 191, 1); }
.Mozart-by-Magnum-5-rgba { color: rgba(242, 162, 133, 1); }

/* Color Theme Swatches in HSLA */
.Mozart-by-Magnum-1-hsla { color: hsla(348, 96, 17, 1); }
.Mozart-by-Magnum-2-hsla { color: hsla(343, 96, 28, 1); }
.Mozart-by-Magnum-3-hsla { color: hsla(191, 96, 22, 1); }
.Mozart-by-Magnum-4-hsla { color: hsla(180, 39, 58, 1); }
.Mozart-by-Magnum-5-hsla { color: hsla(16, 81, 73, 1); }


/* Color Theme Swatches in Hex */
.classice-green-1-hex { color: #731D34; }
.classice-green-2-hex { color: #2B4016; }
.classice-green-3-hex { color: #1C2613; }
.classice-green-4-hex { color: #748C3F; }
.classice-green-5-hex { color: #401818; }

/* Color Theme Swatches in RGBA */
.classice-green-1-rgba { color: rgba(114, 28, 52, 1); }
.classice-green-2-rgba { color: rgba(42, 63, 21, 1); }
.classice-green-3-rgba { color: rgba(28, 38, 18, 1); }
.classice-green-4-rgba { color: rgba(116, 140, 63, 1); }
.classice-green-5-rgba { color: rgba(63, 23, 23, 1); }

/* Color Theme Swatches in HSLA */
.classice-green-1-hsla { color: hsla(343, 59, 28, 1); }
.classice-green-2-hsla { color: hsla(90, 48, 16, 1); }
.classice-green-3-hsla { color: hsla(91, 33, 11, 1); }
.classice-green-4-hsla { color: hsla(78, 37, 39, 1); }
.classice-green-5-hsla { color: hsla(0, 45, 17, 1); }


/* Color Theme Swatches in Hex */
.Sogni---beauty-startup-1-hex { color: #F2F2F2; }
.Sogni---beauty-startup-2-hex { color: #BFBFBF; }
.Sogni---beauty-startup-3-hex { color: #8C8C8C; }
.Sogni---beauty-startup-4-hex { color: #404040; }
.Sogni---beauty-startup-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Sogni---beauty-startup-1-rgba { color: rgba(242, 242, 242, 1); }
.Sogni---beauty-startup-2-rgba { color: rgba(191, 191, 191, 1); }
.Sogni---beauty-startup-3-rgba { color: rgba(140, 140, 140, 1); }
.Sogni---beauty-startup-4-rgba { color: rgba(63, 63, 63, 1); }
.Sogni---beauty-startup-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Sogni---beauty-startup-1-hsla { color: hsla(0, 0, 95, 1); }
.Sogni---beauty-startup-2-hsla { color: hsla(0, 0, 75, 1); }
.Sogni---beauty-startup-3-hsla { color: hsla(0, 0, 55, 1); }
.Sogni---beauty-startup-4-hsla { color: hsla(0, 0, 25, 1); }
.Sogni---beauty-startup-5-hsla { color: hsla(0, 0, 5, 1); }
